.centered {
    text-align: center;
}

.navigator {
    text-align: center;
    background-color: olive;
    color: black;
}

.title {
    background-color: olive;
    color: black;
}

.code {
    background-color: cyan;
    font-family: monospace;
    color: black;
};
