<table cellpadding=3 cellspacing=0 border=0>
<tr><form method=post><td><font class=poster><b>Post your comments.</b></font></td></tr>
<tr><td ><font class=little>Name & email are optional.<br>HTML tags will be 
removed except hyperlinks.<br>email address will be changed to avoid 
spammers collection of e-mails </font></td></tr>
<tr><td ><font class=little>Name: <input type=input name=name size=25 maxlength=30><br>Email: <input type=input name=email size=25 maxlength=30><br></td></tr>
<tr><td >
<font class=little>Comments:<br></font>
<textarea name=comments cols=30 rows=5></textarea>
</td></tr><tr><td>
<font class=little>do the math : $captchaUnsolved</font>
<br />
<font class=little>answer to the previous math :</font> <input type=input 
name=captchaText size=25 maxlength=30 />
<br/><br/>
<input type=submit value=Submit class=btn>&nbsp;&nbsp;
 
<!--next 4 lines are required-->
<input type=hidden name=storypath value="$storypath">
<input type=hidden name=newpost value="$newkey">
<input type=hidden name=flav value="$flav">
<input type=hidden name=captchaUnsolved value="$captchaUnsolved">

</td></form></tr></table>

